#nav-links {
    li {
        position: relative;
    }
    li a{
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 0.1rem;
            background-color: white;
            transform: translateY(0.3rem);

            transition: all ease 0.3s;
            }
    }
    li a:hover {
        &::after {
            
            width: 100%;
            transition: all ease 0.3s;
            }
    }
}