/* Default hidden state */
#button-container {
  display: flex;
  justify-content: center;
  width: 30rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s ease, max-height 1s ease;

  span {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 10rem;
  }
}

/* When visible */
#button-container.show {
  opacity: 1;
  max-height: 150px; /* Adjust as needed */
  transition: opacity 2s ease, max-height 1s ease;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 0px;
  background-color: white;
  color: black;
  transition: all 1s ease;
  font-size: 1em;
  i {
    color: #237279;
    margin-left: 0rem;
    opacity: 0;
    max-width: 0%;
    overflow: hidden;
    transition: all 1s ease;
  }
}

.btn:hover {
  background-color: #237279;
  color: white;

  i {
    color: white;
    margin-left: 1rem;
    opacity: 1;
    max-width: 100%;
    overflow: hidden;
    transition: all 1s ease;
  }
}

#dropdown-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dropdown-arrow i {
  border-radius: 50%;
  font-size: 2rem;
  width: auto;
  width: 2rem;
  height: 2rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
  line-height: 1;
  padding: 0;

  border: 3px white solid;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #237279;
  background-size: contain;
  background-repeat: no-repeat;

  &:hover {
    color: #237279;
    background-color: white;
    border: 3px #237279 solid;
  }
}
